// Colors
$color-primary: #50BAE7;
$color-primary-dark: #002E7F;
$color-bleGrey: #4B7F9C;
$color-white: #ffffff;
$color-black: #000000;

$color-text-dark: #333333;
$color-backGrey: #F6F6F6;

// Layout
$maxBoxTextWidth: 380px;

// Breakepoints
$breakpoint-tablet: 768px;


