/* Reset */
*,
*::before,
*::after {
   margin: 0;
   padding: 0;
   box-sizing: inherit; /* It will inherit the value form body */
}

html {
   /* Set to equal 10px TO reset 1rem as 10px */
   font-size: 62.5%;
}
body {
   box-sizing: border-box;
}
